parameters:
    level: 8
    paths:
        - src
    ignoreErrors:
        -
            identifier: trait.unused
            path: src/Concerns/Actionable.php
        -
            identifier: property.notFound
            path: src/Profile/TwoFactorService.php
